# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MultiThreading.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Oleksii_Yurchenko\OneDrive - EPAM\Desktop\Senior\Multithreading\MultiThreading\.idea\.idea.MultiThreading\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
